<template>
    <div>
        <h2>Les tables de multiplication</h2>
          <TableMultiplication v-for="k in 10" v-bind:key="k" v-bind:n="k" />
    </div>
</template>

<script>
  import TableMultiplication from "../components/TableMultiplication.vue";
  export default {
    name: "tables",
    data: function () {
      return {
      };
    },
    components: {
      TableMultiplication,
    }
  };
</script>

<style>
</style>