<template>
  <div class="tableau">
    <h3>Table de {{n}}</h3>
    <table class="table-multiplication" >
      <tbody v-for="k in 10" v-bind:key="k">
         <TableRow v-bind:i="k" v-bind:j="n"/>
      </tbody>
    </table>
    <br/>
  </div>
</template>

<script>
  import TableRow from "./TableRow.vue";

  export default {
    name: "TableMultiplication",
    props: {
      n : Number,
    },
    components: {
      TableRow,
    },
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .table-multiplication {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: lightblue;
    border: 3px solid black;
  }

   div .tableau{
    display: inline-block;
    padding: 0px 15px 15px 15px;
    margin: 0px 5px;
    background-color: yellowgreen;
    border-radius: 15px;
  }
</style>