<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png" width="100" height="100">
    <nav>
      <router-link to="/">Home</router-link>
      <router-link to="/tables">  Les Tables</router-link>
    </nav>
    <router-view />
  </div>
</template>

<script>
  export default {
    name: "app"
  };
</script>

<style>
  #app {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    text-align: center;
    color: blue;
    margin-top: 60px;
  }

  nav{
    width: 15%;
    margin: auto;
    font-size: 25px;
  }

</style>
